<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper" class="body-content">
        <div id="sidebar-wrapper">
            <div class="div-section">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" />
                    <i class="form-control-feedback glyphicon glyphicon-search icon-el"></i>
                </div>
            </div>
            <div class="div-section">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#all" data-toggle="tab">
                            All
                        </a>
                    </li>
                    <li>
                        <a href="#editor" data-toggle="tab">
                            Editor
                        </a>
                    </li>
                    <li>
                        <a href="#owner" data-toggle="tab">
                            Owner
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active tab-content" id="all">
                        All
                    </div>
                    <div class="tab-pane tab-content" id="editor">
                        Editor
                    </div>
                    <div class="tab-pane tab-content" id="owner">
                        Owner
                    </div>
                </div>
            </div>
        </div>

        <div>
            <header>
                <button id="menu-toggle" class="btn btn-link hamburger-menu-btn icon-el">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <button class="btn btn-link dropdown account-menu-btn">
                    <a href="#" class="dropdown-toggle icon-el" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src="~/Assets/profile_pic.jpg" class="img-circle">
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">
                                Create
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </button>
            </header>
            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer>
        &copy; @DateTime.Now.Year - My ASP.NET Application
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
