<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <div class="div-section">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Search for company/project"/>
                    <i class="form-control-feedback glyphicon glyphicon-search icon-el"></i>
                </div>
            </div>
            <div class="div-section">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#pinned" data-toggle="tab">
                            <span class="glyphicon glyphicon glyphicon-pushpin"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#editor" data-toggle="tab">
                            Editor
                        </a>
                    </li>
                    <li>
                        <a href="#owner" data-toggle="tab">
                            Owner
                        </a>
                    </li>
                    <li>
                        <a href="#all" data-toggle="tab">
                            All
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active tab-content-inside" id="pinned">
                        Pinned
                    </div>
                    <div class="tab-pane tab-content-inside" id="editor">
                        Editor
                    </div>
                    <div class="tab-pane tab-content-inside" id="owner">
                        Owner
                    </div>
                    <div class="tab-pane tab-content-inside" id="all">
                        All
                    </div>
                </div>
            </div>
        </div>
        <div id="content-wrapper">
            <header>
                <button id="menu-toggle" class="btn btn-link header-btn icon-el">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <div class="btn-group header-menu" role="group">
                    <button class="btn btn-link header-btn icon-el">
                        <span id="numberOfLetters">3</span>
                        <span class="glyphicon glyphicon-envelope"></span>
                    </button>
                    <div class="btn btn-link">
                        <a href="#" class="dropdown-toggle icon-el" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="~/Assets/profile_pic.jpg" class="img-circle">
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href='@Url.Action("About", "Home")'>
                                    Create
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href='@Url.Action("About", "Home")'>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Contact", "Home")'>
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer>
        <p class="footer-p">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(".btn").mouseup(function () {
            $(this).blur();
        })
    </script>
</body>
</html>