<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="div-section">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control"/>
                    <i class="form-control-feedback glyphicon glyphicon-search icon-el"></i>
                </div>
            </div>
            <div class="div-section">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#all" data-toggle="tab">
                            All
                        </a>
                    </li>
                    <li>
                        <a href="#editor" data-toggle="tab">
                            Editor
                        </a>
                    </li>
                    <li>
                        <a href="#owner" data-toggle="tab">
                            Owner
                        </a>
                    </li>
                </ul>
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active tab-content" id="all">
                        list
                    </div>
                    <div class="tab-pane tab-content" id="editor">
                        All that I am editor at
                    </div>
                    <div class="tab-pane tab-content" id="owner">
                        All that I own
                    </div>
                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <div>
            <div class="div-header">
                <button id="menu-toggle" class="btn btn-link icon-el glyphicon glyphicon-menu-hamburger"></button>
                    <button class="btn btn-link dropdown">
                        <a href="#" class="dropdown-toggle icon-el" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="cinqueterre.jpg" class="img-circle">
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">
                                    Account
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">
                                    Apply
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Create
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </button>
            </div>
            <div class="body-content">
                @RenderBody()
            </div>
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>
